@import "../node_modules/bootstrap/scss/bootstrap";

.header {
  @extend .text-white;
  @extend .bg-primary;
}

.view-name {
  @extend .text-white;
  @extend .bg-primary;
}

.column {
  @extend .text-white;
  @extend .bg-primary;

  nav {
    @extend .text-white;
    @extend .bg-primary;
  }

  .tasks {
    height: 25em;
    overflow: auto;

    nav {
      @extend .text-white;
      @extend .bg-primary;
    }

    .task {
      @extend .border;
      @extend .m-2;

      &:first-child {
        @extend .mt-0;
      }

      &-deadline {
        @extend .text-white;
        @extend .bg-primary;
      }
      
      &-description {
        @extend .text-white;
        @extend .bg-primary;
      }

      &-tags {
        @extend .text-white;
        @extend .bg-primary;
      }      
    }
  }
}

.footer {
  @extend .text-white;
  @extend .bg-primary;
}

.badge-with-close-button {
  @extend .position-relative;

  button {
    @extend .position-absolute;
    right: -0.7em !important;
    top: -0.7em !important;
  }
}
