@import "../node_modules/bootstrap/scss/bootstrap";

.tasks {
  height: 25em;
  overflow: auto;

  .task {
    @extend .border;
    @extend .m-2;

    &:first-child {
      @extend .mt-0;
    }
  }
}

.badge-with-close-button {
  @extend .position-relative;

  button {
    @extend .position-absolute;
    right: -0.7em !important;
    top: -0.7em !important;
  }
}
